*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
width: 100%;
height: 100vh;
background: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(background.jpg);
background-size: cover;
background-position: center ;
position: relative;
overflow: hidden;
}
#padding{
    padding: 3%;
    background-color: #eee;
}
#section-marging{
    margin: 40px 0;
}
nav img{
    width: 70px;
    border-radius: 50%;
}
nav{
    display: flex;
    padding: 1% 8%;
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    padding: 2% 2%;
    display: inline-block;

}
.nav-link ul li a{
    text-decoration: none;
font-size: 20px;
color: #fff;
}
.nav-link ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    transition: .5s;
}
.nav-link ul li:hover::after{
width: 100%;
}
.buy a{
    background-color: seagreen;
    border-radius: 9px;
    color: #fff;
    padding: 10px 30px;
    list-style: none;
    text-decoration: none;
    margin: auto;
}
.tex-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 6% 2%;
}
.tex-box h1{
    font-size: 50px;
}
.tex-box p{
    margin: 10px 0 40px;
    font-size: 17px;
}
.hero-buton{
    text-decoration: none ;
    color: #fff;
    border: 2px solid;
    color: #fff;
    padding: 12px 30px;
    position: relative;
    background: transparent;
    transition: 1s;
}
.hero-buton:hover{
    background-color: seagreen;
    
}
    span{
    display: none;
}

.nav-link p{
    display: none;
}


@media(max-width: 700px){

    .tex-box h1{
        font-size: 28px;
    }
    nav img{
        width: 40px;
        border-radius: 50%;
    }
    .tex-box p{
        margin: 10px 0 40px;
        font-size: 14px;
    }
    .nav-link{
        display: block;
        background: seagreen;
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -200px;
        z-index: 2;
        text-align: left;
        color: #fff;
        transition: 1s ease;

    }
    .nav-link p{
        display: block;
    }
    .nav-link ul{
        padding: 15px;
    }
    .buy a{

        display: none;
    }
    .nav-link ul li{
        display: block;   
    }
    .nav-link ul li a{
        font-size: 15px;
    }
    span{
        display: block;
        padding: 5px;
        color: #fff;
    }
    span img{
        margin: 10px 0;
        background-color: #fff;
        width: 30px;
    }
    .nav-link img{
        margin: 5px 2px;
        background-color: #fff;
        width: 30px;
    }

    .small-barnner .banner-box{
        margin: 20px 0;
    }
    .product1 .product-container{
        padding: auto;
        flex-direction: row;
    }

} 

.product1{
    text-align: center;
}
.product1 .product{
    width: 15%;
    min-width: 180px;
    border: 1px solid rgb(75, 72, 72);
    border-radius: 10px;
    padding: 10px 8px;
    margin: 14px 10px;
    position: relative;
    cursor: pointer;
}
.product1 .product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
.product1 .product img{
    width: 100%;
    border-radius: 10px;
}
.product1 .product .star img{
    width: 9%;
}
.product1 .product .cart img{
    width: 20px;
}
.product1 .product .description{
    text-align: start;
    padding: 5px 0;
}
.product1 .product .description h6{
    font-size: 12px;
    color: rgb(78, 71, 71);
    padding: 5px 0;
}
.product1 .product .description h4{
    font-size: 15;
    color: seagreen;
    padding: 5px 0;
    font-size: 15px;
}
.product1 .product .description h5{
    padding: 5px 0;
}
.product1 .product .cart{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: turquoise;
    border: 1px solid seagreen;
    padding: 4px 2px;
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(shop.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}
.banner h4{
    color: #fff;
}
.banner h2{
    color: #fff;
    padding: 12px 0;
}

.banner span{
    color: tomato;
}

.banner a{
    text-decoration: none;
    color: #fff;
    background: seagreen;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 35%;
    border-radius: 10px;
}
.banner .buttun:hover{
    background: rgb(120, 172, 142);
}


.small-barnner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(shop.jpg);
    width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.small-barnner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small-barnner h4{
    color: #fff;
}
.small-barnner h2{
    color: #fff;
    padding: 12px 0;
}


.small-barnner a{
    text-decoration: none;
    color: #fff;
    background: seagreen;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 35%;
    border-radius: 10px;
    margin-top: 12px;

}

.small-barnner a:hover{
    background: rgb(120, 172, 142);
}
